@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  pointer-events: none;
}

*:focus {
  outline: 0 none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

:root{
  --transition: all 400ms ease;
}

html{
  scroll-behavior:smooth;
}

/* BUTTON ANIMATIONS */

.underlineAfterHover {
    display: inline-block;
    position: relative;
  }
  
  .underlineAfterHover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    transform: scaleX(1);
  }
  
  .underlineAfterHover:hover:after {
    background-color: currentcolor;
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  /* SLIDER */
.sliderGaps .slick-slide  > div {
  margin: 0 10px;
}
.sliderGaps .slick-list  {
margin: 0 -10px;
}

.sliderDots .slick-dots {
margin:0 0 60px 0 ;
}

.slick-prev:before {
  color:gray !important;
  z-index: 20;
  margin-left:-20px;
}

.slick-next:before {
 color:gray !important;
 z-index: 20;
 margin-left:10px;
}

@media (max-width: 1024px) { 
  .slick-prev {
    display: none !important;
  }
 }

 @media (max-width: 1024px) { 
  .slick-next {
    display: none !important;
  }
 }
