@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color:black;
    margin:0; 
    padding:0; 
    border:0; 
    outline:0; 
    box-sizing:border-box; 
    list-style:none; 
    text-decoration:none; 
}

html {
    scroll-behavior: smooth;
  }

  /* BUTTON ANIMATIONS */

.underlineHover {
  display: inline-block;
  position: relative;
}

.underlineHover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
  transform: scaleX(1);
}

.underlineHover:hover:after {
  transform: scaleX(0);
  transform-origin: bottom left;
  background-color:white;

}

nav a.active{
  border-bottom: 0.1rem solid white;
  padding-bottom:0.3rem;
}