@font-face {
    font-family: "NotoSans";
    src: url("./fonts/NotoSans-Light.otf") format("openType");
    font-weight: 300;
    font-style: normal;
} 

@font-face {
    font-family: "NotoSans";
    src: url("./fonts/NotoSans-Regular.otf") format("openType");
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: "NotoSans";
    src: url("./fonts/NotoSans-Medium.otf") format("openType");
    font-weight: 500;
    font-style: normal;
} 

@font-face {
    font-family: "NotoSans";
    src: url("./fonts/NotoSans-SemiBold.otf") format("openType");
    font-weight: 600;
    font-style: normal;
} 

@font-face {
    font-family: "NotoSans";
    src: url("./fonts/NotoSans-Bold.otf") format("openType");
    font-weight: 700;
    font-style: normal;
}