@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts.css";


@layer base {
    body {
        @apply font-primary relative text-black;
      }
}

img {
  pointer-events: none;
}

*:focus {
  outline: 0 none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

:root{
  --transition: all 400ms ease;
}

html{
  scroll-behavior:smooth;
}

textarea {
  resize: none;
}

/* BUTTON ANIMATIONS */

.underlineAfterHover {
    display: inline-block;
    position: relative;
  }
  
  .underlineAfterHover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    transform: scaleX(1);
  }
  
  .underlineAfterHover:hover:after {
    background-color: currentcolor;
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  /* SLIDER */
.sliderGaps .slick-slide  > div {
  margin: 0 10px;
}
.sliderGaps .slick-list  {
margin: 0 -10px;
}

.sliderDots .slick-dots {
margin:0 0 60px 0 ;
}

.slick-prev:before {
  color:gray !important;
  z-index: 20;
  margin-left:-20px;
}

.slick-next:before {
 color:gray !important;
 z-index: 20;
 margin-left:10px;
}

@media (max-width: 1024px) { 
  .slick-prev {
    display: none !important;
  }
 }

 @media (max-width: 1024px) { 
  .slick-next {
    display: none !important;
  }
 }

 /* LOADER */

 .ctaLoader {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.ctaLoader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid currentcolor;
  border-radius: 50%;
  animation: ctaLoader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentcolor transparent transparent transparent;
}

.ctaLoader.small {
  width: 16px;
  height: 16px;
}
.ctaLoader.small div {
  width: 16px;
  height: 16px;
}

.ctaLoader div:nth-child(1) {
  animation-delay: -0.45s;
}
.ctaLoader div:nth-child(2) {
  animation-delay: -0.3s;
}
.ctaLoader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ctaLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}